@import "../../scss/values";

.container {
  display: block;
  background: $darkest-dark;
  height: 67.5rem;
  &__search {
    display: block;
    width: 120rem;
    height: 67.5rem;
    margin:auto;
    .landing-image {
      position: absolute;
      filter: opacity(.8);
      background-image: url('../../assets/landing/pyke-search-hq.gif');
      background-size: cover;
      width: 120rem;
      height: 67.5rem;
    }
    .search-bar-container {
      width: 120rem;
      margin-top: 40rem;
      position: absolute;
      text-align: center;
      .search-bar {
        margin:auto;
      }
    }
  }

}


.left-right {
  position: absolute;
  width: 120rem;
  height: 67.5rem;
  background: linear-gradient(270deg, rgba(15,17,19,0) 82%, $darkest-dark 100%);
}
.right-left {
  position: absolute;
  width: 120rem;
  height: 67.5rem;
  background: linear-gradient(90deg, rgba(15,17,19,0) 82%, $darkest-dark 100%);
}
.left-right-subtle {
  filter: opacity(.4);
  position: absolute;
  width: 120rem;
  height: 67.5rem;
  background: linear-gradient(270deg, rgba(15,17,19,0) 40%, $darkest-dark 100%);
}
.right-left-subtle {
  filter: opacity(.4);
  position: absolute;
  width: 120rem;
  height: 67.5rem;
  background: linear-gradient(90deg, rgba(15,17,19,0) 40%, $darkest-dark 100%);
}