.container-info {
  background-color: white;
  border-radius: .5rem;
  margin: 1rem;
}
.champion-image {
  width: 100%;
  height: 35rem;
  border-bottom: 1.5rem solid white;
  background-image: url("../../assets/Evelynn_Splash_7.5.jpg");
  background-position: top;
  background-position-y: -10rem;
  background-repeat: no-repeat;
  background-size: 100%;
}
.container { 
  width: 110rem;
  margin: auto;
  display: grid;
  grid-template-columns: 36rem auto;
  grid-template-rows: 21rem 0rem 40rem 40rem 50rem;
  grid-template-areas:
    "profile profile"
    ". ."
    "sr mh"
    "sr mh"
    "sr mh";
}

.profile {
  grid-area: profile;
  padding-top: 1.5rem;
  margin: 1rem;
  justify-content: center;
  &__icon {
    position: relative;
    top: -9rem;
    margin-left: 1rem;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    img {
      width: inherit;
      height: inherit;
      position: absolute;
      border: .8rem solid white;
      border-radius: 50%;
    }
    span {
      position: absolute;
      width: inherit;
      height: 2.4rem;
      color: white;
      text-align: center;
      margin-top: 13.2rem;
      font-size: 1.9rem;
      background-image: url('../../assets/summoner/bg-levelbox.png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  &__info {
    display: block;
    position: relative;
    top: -8rem;
    margin-left: 1rem;
    h4 {
      font-size: 3rem;
    }
    span {
      font-size: 1.25rem;
      color: grey;
    }

    button {
      display: inline-block;
      height: 4rem;
      width: 9rem;
      margin-top: 1.2rem;
    }
  }
}

.detail {
  grid-area: sr;
  h4 {
    padding: 1rem;
    font-weight: 500;
  }
  &__ranks {
    &__solo {
      border-bottom: .5rem solid #e6ecf0;
      img {
        width: 9rem;
        margin: 3rem;
      }
      div {
        display: inline-block;
        position: absolute;
        margin-top: 3rem;
        font-size: 1.5rem;
      }
    }
    &__flex {
      img {
        display: inline-block;
        width: 8rem;
        margin: 1rem;
        margin-left: 3rem;
      }
      div {
        margin-left: 3rem;
        display: inline-block;
        position: absolute;
        margin-top: 3rem;
        font-size: 1.4rem;
      }
    }
  }

  &__champion {
    &__menu {
      text-decoration: none;
      ul {
        width: 100%;
      }
      li {
        display: inline-block;
        padding: .5rem;
        width: 8.5rem;
        height: 3rem;
        font-size: 1.3rem;
        text-align: center;
        vertical-align: top;
      }
    }
    &__content {
      min-height: 32rem;
      list-style-type: none;

      .champion-item {
        margin-top: 0.5rem;
        display: table;
        height: 6rem;
        ul {
          display: table;
          li {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            img {
              display: table-cell;
              vertical-align: middle;
              width: 5rem;
              height: 5rem;
              border-radius: 50%;
              border: .2rem solid black;
              margin: 0 1rem 0 1rem;
            }
            h5 {
              display: block;
              font-size: 1.4rem;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            span {
              font-size: 1.2rem;
              margin-top: .4rem;
              color: lightgrey;
            }
          }
          li:nth-child(2) {
            text-align: left;
            width: 9rem;
          }
          li:nth-child(3) {
            width: 9.5rem;
          }
          li:last-child {
            width: 8.5rem;
          }
        }
      }
      .champion-item:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 90%;
        padding-top: .7rem;
        border-bottom: 1px solid lightgrey;
      }
      
      .champion-item:last-child:after {
        border: none;
      }
    }
    &__more {
      text-align: center;
      padding: .8rem;
    }
  }

  &__recent {
    &__champions {
      list-style-type: none;
      li {
        padding:1rem;
        img {
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
          display: inline-block;
          vertical-align: middle;
        }
        h5 {
          width: 7rem;
        }
        span {
          width: 3rem;
          font-size: 1.2rem;
        }
        .recent-center {
          display: inline-block;
          vertical-align: middle;
          height:100%;
          margin-left: .7rem;
        }
        .recent-center:first-child {
          margin-left: .4rem;
        }
        .recent-graph {
          width: 15rem;
          div {
            display: grid;
            grid-template-columns: 50% 50%;
            span {
              padding-left: 1rem;
            }
            span:last-child {
              text-align: right;
              width: 100%;
              padding-right: 1rem;
            }
          }
          .bar {
            width: 90%;
            height: 1.2rem;
            display: inline-block;
            border-radius: .4rem 0 0 .4rem;
            padding: .5rem;
            background-color: lightblue;
          }
          .bar:last-child {
            width: 10%;
            border-radius: 0 .4rem .4rem 0;
            background-color: lightcoral;
          }
        }
      }
    }
  }

  &__played-with {
    list-style-type: none;
    &__players {
      text-align: center;
      font-size: 1.2rem;
      padding: .5rem;
      tr {
        td:first-child {
          text-align: left;
        }
        th {
          width: 5rem;
        }
        th:last-child {
          width: 8rem;
        }

        td, th {
          padding: .4rem;
        }
      }

    }
  }
}

.match-history {
  position: relative;
  top:-20rem;
  grid-area: mh;

  &__search {
    width: 100%;
    height: 8rem;
  }

  &__games {
    .game {
      font-size: 1.2rem;
      width: 100%;
      background-color: lightblue;
      border-radius: .5rem;
      margin: 1rem;
      padding: .5rem;
      div {
        height: 100%;
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        width: 8rem;
        span {
          display: block;
          padding: .3rem;
        }
      }
      .game-detail {
        span:nth-child(2) {
          padding-bottom: .4rem;
        }
        span:nth-child(2):after {
          content: "";
          display: block;
          margin: 0 auto;
          width: 30%;
          padding-top: .7rem;
          border-bottom: 1px solid black;
        }
        span:nth-child(3) {
          padding-top: .2rem;
        }
      }
      .player-champ {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }
    }

    .game:nth-child(2) {
      background-color: lightcoral;
    }
  }
}