@import '../../scss/values';

.container-info {
  background-color: $content-dark;
  border-radius: .5rem;
  margin: 1rem;
}
.champion-image {
  width: 100%;
  height: 32rem;
  border-bottom: 1rem solid $content-dark;
  background: $darkest-dark;
  overflow: hidden;
  text-align: center;
  .image-container  {
    width: 140rem;
    height: 31rem;
    margin: auto;
    display: flex;
    img {
      margin-top: 5.5rem;
      width: 140rem;
      height: 82rem;
      position: relative;
      filter: opacity(0.8);
    }
    .left-right {
      position: absolute;
      width: 140rem;
      height: 31rem;
      background: linear-gradient(270deg, rgba(15,17,19,0) 82%, $darkest-dark 100%);
    }
    .right-left {
      position: absolute;
      width: 140rem;
      height: 31rem;
      background: linear-gradient(90deg, rgba(15,17,19,0) 82%, $darkest-dark 100%);
    }
    .left-right-subtle {
      filter: opacity(.4);
      position: absolute;
      width: 140rem;
      height: 31rem;
      background: linear-gradient(270deg, rgba(15,17,19,0) 65%, $darkest-dark 100%);
    }
    .right-left-subtle {
      filter: opacity(.4);
      position: absolute;
      width: 140rem;
      height: 31rem;
      background: linear-gradient(90deg, rgba(15,17,19,0) 65%, $darkest-dark 100%);
    }
  }
}
.btn {
  width: 12.5rem;
  height: 4.5rem;
  border-radius: .3rem;
  background: $content-dark;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  padding-left: 1.5rem;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  filter: brightness(1.15);
  cursor: pointer;
}
.live {
  text-align: left;
  margin-left: .5rem;
  background: linear-gradient(180deg, rgb(54, 44, 99) 0%, rgba(59,37,95,1) 100%);
  border-top: .1rem rgb(62, 50, 112) solid;
  border-bottom: 4px solid rgb(47, 34, 77);
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
}
.update {
  text-align: left;
  background: linear-gradient(0deg, #254e5f 0%, #25395f 100%);
  border-top: .1rem #345688 solid;
  border-bottom: 4px solid #1c3c49;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
}

.container { 
  width: 110rem;
  margin: auto;
  display: grid;
  grid-template-columns: 36rem auto;
  grid-template-rows: 21rem 0rem 40rem 40rem 50rem;
  grid-template-areas:
    "profile profile"
    ". ."
    "sr mh"
    "sr mh"
    "sr mh";
}

.profile {
  grid-area: profile;
  padding-top: 1.5rem;
  margin: 1rem;
  justify-content: center;
  &__icon {
    position: relative;
    top: -9rem;
    margin-left: 1rem;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    img {
      width: inherit;
      height: inherit;
      position: absolute;
      border: .8rem solid $content-dark;
      border-radius: 50%;
    }
    span {
      position: absolute;
      width: inherit;
      height: 2.4rem;
      color: white;
      text-align: center;
      margin-top: 13.2rem;
      font-size: 1.9rem;
      background-image: url('../../assets/summoner/bg-levelbox.png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  &__info {
    display: block;
    position: relative;
    top: -8rem;
    margin-left: 1rem;
    h4 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    span {
      font-size: 1.25rem;
      color: grey;
    }

    button {
      display: inline-block;
    }
  }
}

.detail {
  grid-area: sr;
}

.match-history {
  position: relative;
  top:-20rem;
  grid-area: mh;
}

.selectable {
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
      -khtml-user-select: text; /* Konqueror HTML */
        -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}