.container { 
  display: grid;
  grid-template-columns: 40.5rem auto;
  grid-template-rows: 20rem 20.5rem 40rem 50rem;
  margin-top: 20px;
  &__profile {
    grid-row-start: 2;
    border-radius: .5rem;
    padding-top: 1.5rem;
    margin: 1rem;
    justify-content: center;
    background-color: white;
    &__icon {
      margin-left: 1.5rem;
      display: inline-block;
      width: 15rem;
      height: 15rem;
      img {
        width: inherit;
        height: inherit;
        position: absolute;
        border-radius: 50%;
      }
      span {
        position: absolute;
        width: inherit;
        height: 2.4rem;
        color: white;
        text-align: center;
        margin-top: 13.5rem;
        font-size: 1.9rem;
        background-image: url('../../assets/summoner/bg-levelbox.png');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    
    &__info {
      display: inline-block;
      position: absolute;
      margin-left: 2rem;
      margin-top: 5rem;
      h4 {
        font-size: 3rem;
      }
      span {
        font-size: 1.25rem;
        color: grey;
      }

      button {
        display: inline-block;
        height: 4rem;
        width: 9rem;
        margin-top: 1.2rem;
      }
    }
  }

  &__match-history {
    width: inherit;
  }
}