<div *ngIf="profile" class="champion-image">
  <img src="../../assets/champion/splash/{{profile.matches[0].championId.id}}_0.jpg" alt="">
</div>
<div *ngIf="profile" class="container">
  <div class="profile">
    <div class="profile__icon">
      <img src="../../assets/profileicon/{{profile.summoner.profileIconId}}.png" alt="">
      <span>{{profile.summoner.summonerLevel}}</span>
    </div>
    <div class="profile__info">
      <h4>{{profile.summoner.name}}</h4>
      <span>Rank 165,556 (top 14.84%)</span>
      <br>
      <button (click)="updateSummoner()">Update</button>
      <button>Live</button>
    </div>
  </div>
  <app-summoner-detail class="detail"
                       [solo]="profile.leagues.solo"
                       [flex_5v5]="profile.leagues.flex5v5"
                       [flex_3v3]="profile.leagues.flex3v3"></app-summoner-detail>
  <app-summoner-match-history class="match-history"
                              (clear)="clearProfile()"
                              [matches]="profile.matches"></app-summoner-match-history>
</div>