<div *ngIf="profile" class="champion-image">
  <img src="../../assets/champion/splash/{{profile.stats.lastPlayed}}_0.jpg" alt="">
</div>
<div *ngIf="profile" class="container">
  <div class="profile">
    <div class="profile__icon">
      <img src="../../assets/profileicon/{{profile.summoner.profileIconId}}.png" alt="">
      <span>{{profile.summoner.summonerLevel}}</span>
    </div>
    <div class="profile__info">
      <h4>{{profile.summoner.name}}</h4>
      <span>Rank 165,556 (top 14.84%)</span>
      <br>
      <button (click)="updateProfile(profile)" class="btn update">Update</button>
      <button class="btn live">Live</button>
    </div>
  </div>
  <app-summoner-detail class="detail"
                       [solo]="profile.leagues.solo"
                       [flexSR]="profile.leagues.flexSR"
                       [flexTT]="profile.leagues.flexTT"></app-summoner-detail>
  <app-summoner-match-history class="match-history"
                              (clear)="clearProfile()"
                              [profile]="profile"></app-summoner-match-history>
</div> 