<div *ngIf="summoner" class="champion-image">
    
</div>
<div *ngIf="summoner" class="container">
  <div class="profile">
    <div class="profile__icon">
      <img src="../../assets/profileicon/{{summoner.profileIconId}}.png" alt="">
      <span>{{summoner.summonerLevel}}</span>
    </div>
    <div class="profile__info">
      <h4>{{summoner.name}}</h4>
      <span>Ladder Rank 165,556 (top 14.84%)</span>
      <br>
      <button (click)="updateSummoner()">Update</button>
      <button>Live</button>
    </div>
  </div>
  <app-summoner-detail class="detail"></app-summoner-detail>
  <app-summoner-match-history class="match-history"></app-summoner-match-history>
</div>