@mixin xsm {
  @media (max-width: 599px) { @content; }
}
@mixin sm {
  @media (min-width: 600px) { @content; }
}
@mixin md {
  @media (min-width: 900px) { @content; }
}
@mixin lg {
  @media (min-width: 1200px) { @content; }
}
@mixin xlg {
  @media (min-width: 1800px) { @content; }
}



.container {
  width: 500px;
  margin: auto;
  justify-content: center;
}

@media screen and (min-width: 500px) {

}