@mixin xsm {
  @media (max-width: 599px) { @content; }
}
@mixin sm {
  @media (min-width: 600px) { @content; }
}
@mixin md {
  @media (min-width: 900px) { @content; }
}
@mixin lg {
  @media (min-width: 1200px) { @content; }
}
@mixin xlg {
  @media (min-width: 1800px) { @content; }
}

.nav {
  position: fixed;
  height: 40px;
  width: 100%;
  background-color: grey;
  z-index: 10;
  &__header {
    display: grid;
    grid-template-columns: 150px auto 300px;
    padding: 5px;
    width:80%;
    margin: auto;
    &__logo {
      grid-column-start: 1;
    }
  
    &__settings {
      text-align: right;
      grid-column-start: 3;
    }
  }
}
.nav-menu {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 5px;
  width: 75%;
  margin: auto;
  &__items {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-gap: 15px;
    list-style-type: none;
  }
  &__summoner-search {
    margin-left: auto;
  }
}

@media screen and (min-width: 500px) {

}