$break-small: 320px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handheld {

  } @else if $media == medium-screen {

  } @else if $media == large-screen {
    
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.nav {
  background-color: grey;
  padding: .8rem;
  position: fixed;
  width: 100%;

  &__logo {
    font-size: 2rem;
    text-decoration: none;
    float: left;
  }

  &__right {
    float: right;
  }

  &__icon {
    position: relative;
    // background-image: url(../assets/msn-user-profile.png);
    height: 2rem;
    width: 2rem;
    background-color: black;
  }

  &__toggle {
    background-image: url(../assets/msn-user-profile.png);
    height: 2rem;
    width: 2rem;
  }
  &__button {
    height: 2rem;
    width: 2rem;
  }
  @include clearfix();
}

.container {
  width: 500px;
  margin: auto;
  justify-content: center;
}

@media screen and (min-width: 500px) {

}