<!--The content below is only a placeholder and can be replaced.-->
<nav class="nav">
  <div class="nav__content">
      <a routerLink="/" class="nav__logo">SummonerGG</a>
      <div class="nav__right">
        <app-summoner-search *ngIf="showSearch" class="summoner-search"></app-summoner-search>
        <label for="nav__toggle" class="nav__button">
          <span class="nav__icon">&nbsp;</span>
          ree
        </label>
      </div>
  </div>
</nav>
<div class="nav-bar">
  <ul class="nav-items">
    <li>Champions</li>
    <li>Leaderboards</li>
  </ul>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
