@import '../../../scss/values';
.container-info {
  background-color: $content-dark;
  border-radius: .5rem;
  margin: 1rem;
}

h4 {
  padding: 1rem;
  font-weight: 500;
}
.ranks {
  &__solo {
    border-bottom: .5rem solid $base-dark;
    img {
      width: 12rem;
      margin: 1rem;
    }
    div {
      display: inline-block;
      position: absolute;
      margin-top: 3rem;
      font-size: 1.5rem;
    }
  }
  .flex {
    width: 34rem;
    display: inline-block;
    font-size: 1.4rem;
    .details {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      vertical-align: middle;
      display: inline-block;
      width: 8rem;
      margin: 1rem;
      margin-left: 3rem;
    }
  }
}

.champion {
  &__menu {
    text-decoration: none;
    ul {
      width: 100%;
    }
    li {
      display: inline-block;
      padding: .5rem;
      width: 8.5rem;
      height: 3rem;
      font-size: 1.3rem;
      text-align: center;
      vertical-align: top;
    }
  }
  &__content {
    min-height: 32rem;
    list-style-type: none;

    .champion-item {
      display: table;
      height: 6rem;
      ul {
        display: table; 
        .champion-back {
          height: 8rem;
        }
        li {
          display: table-cell;
          text-align: center;
          .champion-diagonal {
            position: absolute;
            height: 8rem;
            width: 24rem;
            background: linear-gradient(137deg, rgba(255,255,255,0) 12%, rgba(36,40,44,1) 99%);
          }
          .champion-right-left {
            position: absolute;
            height: 8rem;
            width: 24rem;
            background: linear-gradient(90deg, rgba(255,255,255,0) 22%, rgba(36,40,44,1) 98%);
          }
          .champion-bottom-top {
            position: absolute;
            margin-top: .5rem;
            height: 8rem;
            width: 24rem;
            background: linear-gradient(180deg, rgba(255,255,255,0) 80%, rgba(36,40,44,1) 100%);
          }
          img {
            border-top: .1rem rgba(255,255,255,0.25) solid;
            position: absolute;
            display: table-cell;
            vertical-align: middle;
            width: 24rem;
            height: 8rem;
          }
          h5 {
            display: block;
            font-size: 1.4rem;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          span {
            font-size: 1.2rem;
            margin-top: .4rem;
            color: lightgrey;
          }
        }
        li:nth-child(2) {
          text-align: left;
          width: 9rem;
        }
        li:nth-child(3) {
          width: 9.5rem;
        }
        li:last-child {
          width: 8.5rem;
        }
      }
    }
  }
  .more {
    text-align: center;
    padding: .8rem;
  }
}

.recent {
  &__champions {
    list-style-type: none;
    li {
      padding:1rem;
      img {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        display: inline-block;
        vertical-align: middle;
      }
      h5 {
        width: 7rem;
      }
      span {
        width: 3rem;
        font-size: 1.2rem;
      }
      .recent-center {
        display: inline-block;
        vertical-align: middle;
        height:100%;
        margin-left: .7rem;
      }
      .recent-center:first-child {
        margin-left: .4rem;
      }
      .recent-graph {
        width: 15rem;
        div {
          display: grid;
          grid-template-columns: 50% 50%;
          span {
            padding-left: 1rem;
          }
          span:last-child {
            text-align: right;
            width: 100%;
            padding-right: 1rem;
          }
        }
        .bar {
          width: 90%;
          height: 1.2rem;
          display: inline-block;
          border-radius: .4rem 0 0 .4rem;
          padding: .5rem;
          background-color: $blue-dark;
        }
        .bar:last-child {
          width: 10%;
          border-radius: 0 .4rem .4rem 0;
          background-color: $red-dark;
        }
      }
    }
  }
}

.played-with {
  list-style-type: none;
  &__players {
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
    tr {
      td:first-child {
        text-align: left;
      }
      th {
        width: 5rem;
      }
      th:last-child {
        width: 8rem;
      }

      td, th {
        padding: .4rem;
      }
    }

  }
}