<div>
  <div class="ranks container-info">
    <div class="ranks__solo" *ngIf="!profile.leagues.solo">
      <img src="../../assets/rank-icons/unranked.png" alt="">
      <div>
        <span>Ranked Solo</span><br>
        <span>Unranked</span><br>
      </div>
    </div>
    <div class="ranks__solo" *ngIf="profile.leagues.solo">
      <div class="emblem">
        <img src="../../assets/rank-icons/{{profile.leagues.solo.tier.toLowerCase()}}/{{profile.leagues.solo.tier.toLowerCase()}}_sr1.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.solo.tier.toLowerCase()}}/{{profile.leagues.solo.tier.toLowerCase()}}_sr2.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.solo.tier.toLowerCase()}}/{{profile.leagues.solo.tier.toLowerCase()}}_sr3.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.solo.tier.toLowerCase()}}/{{profile.leagues.solo.tier.toLowerCase()}}_base.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.solo.tier.toLowerCase()}}/{{profile.leagues.solo.tier.toLowerCase()}}_face.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.solo.tier.toLowerCase()}}/{{profile.leagues.solo.tier.toLowerCase()}}_crown_{{profile.leagues.solo.rank}}.png" alt="">
      </div>
      <div class="solo-detail">
        <span class="queue_type">Ranked Solo</span><br>
        <span>{{profile.leagues.solo.name}} {{profile.leagues.solo.leaguePoints}} <span class="detail-info">LP</span></span><br>
        <span>{{profile.leagues.solo.wins}} <span class="detail-info">W</span> {{profile.leagues.solo.losses}} <span class="detail-info">L</span></span><br>
        <span>
          <span class="queue_type">Win Rate: </span>
          <span [ngStyle]="profile.leagues.solo.percentStyle">{{profile.leagues.solo.percent}}%</span>
        </span><br>
      </div>
    </div>
    <div *ngIf="profile.leagues.flexSR" class="ranks__flex__5v5 flex">
      <div class="emblem-secondary">
        <img src="../../assets/rank-icons/{{profile.leagues.flexSR.tier.toLowerCase()}}/{{profile.leagues.flexSR.tier.toLowerCase()}}_sr1.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.flexSR.tier.toLowerCase()}}/{{profile.leagues.flexSR.tier.toLowerCase()}}_sr2.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.flexSR.tier.toLowerCase()}}/{{profile.leagues.flexSR.tier.toLowerCase()}}_sr3.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.flexSR.tier.toLowerCase()}}/{{profile.leagues.flexSR.tier.toLowerCase()}}_base.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.flexSR.tier.toLowerCase()}}/{{profile.leagues.flexSR.tier.toLowerCase()}}_face.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.flexSR.tier.toLowerCase()}}/{{profile.leagues.flexSR.tier.toLowerCase()}}_crown_{{profile.leagues.flexSR.rank}}.png" alt="">
      </div>
      <div class="details">
        <span class="queue_type">Flex 5v5</span><br>
        <span>{{profile.leagues.flexSR.name}} {{profile.leagues.flexSR.leaguePoints}} <span class="detail-info">LP</span></span><br>
        <span>{{profile.leagues.flexSR.wins}} <span class="detail-info">W</span> {{profile.leagues.flexSR.losses}} <span class="detail-info">L</span></span><br>
        <span>
          <span class="queue_type">Win Rate: </span>
          <span [ngStyle]="profile.leagues.flexSR.percentStyle">{{profile.leagues.flexSR.percent}}%</span>
        </span><br>
      </div>
    </div>
    <br>
    <div *ngIf="profile.leagues.flexTT" class="ranks__flex__3v3 flex">
      <div class="emblem-secondary">
        <img src="../../assets/rank-icons/{{profile.leagues.flexTT.tier.toLowerCase()}}/{{profile.leagues.flexTT.tier.toLowerCase()}}_sr1.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.flexTT.tier.toLowerCase()}}/{{profile.leagues.flexTT.tier.toLowerCase()}}_sr2.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.flexTT.tier.toLowerCase()}}/{{profile.leagues.flexTT.tier.toLowerCase()}}_sr3.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.flexTT.tier.toLowerCase()}}/{{profile.leagues.flexTT.tier.toLowerCase()}}_base.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.flexTT.tier.toLowerCase()}}/{{profile.leagues.flexTT.tier.toLowerCase()}}_face.png" alt="">
        <img src="../../assets/rank-icons/{{profile.leagues.flexTT.tier.toLowerCase()}}/{{profile.leagues.flexTT.tier.toLowerCase()}}_crown_{{profile.leagues.flexTT.rank}}.png" alt="">
      </div>
      <div class="details">
        <span>Flex 3v3</span><br>
        <span>{{profile.leagues.flexTT.name}} {{profile.leagues.flexTT.leaguePoints}} <span class="detail-info">LP</span></span><br>
        <span>{{profile.leagues.flexTT.wins}} <span class="detail-info">W</span> {{profile.leagues.flexTT.losses}} <span class="detail-info">L</span></span><br>
        <span>
          <span class="queue_type">Win Rate: </span>
          <span [ngStyle]="profile.leagues.flexTT.percentStyle">{{profile.leagues.flexTT.percent}}%</span>
        </span><br>
      </div>
    </div>
  </div>
  <div class="champion container-info">
    <h4>Season 9</h4>
    <ul class="champion__menu">
      <li>Total</li>
      <li>Solo</li>
      <li>Flex 5v5</li>
      <li>Flex 3v3</li>
    </ul>
    <ul class="champion__content" *ngIf="profile">
      <li class="champion-item" *ngFor="let champion of profile.champions.total">
        <ul>
          <li class="champion-back">
            <img src="../../assets/champion/square_long/{{champion.id.id}}_0.png" alt="">
            <div class="champion-right-left"></div>
            <div class="champion-right-left-name"></div>
            <div class="champion-diagonal"></div>
            <div class="champion-bottom-top"></div>
          </li>
          <li class="champion-detail first-detail">
            <h5>{{champion.id.name}}</h5>
          </li>
          <li class="champion-detail second-detail">
            <h6 [ngStyle]="champion.kdaStyle">{{champion.kda}} KDA</h6>
            <span>{{champion.kills}} <span class="champion-info">/</span> {{champion.deaths}} <span class="champion-info">/</span> {{champion.assists}}</span>
          </li>
          <li class="champion-detail">
            <h6 [ngStyle]="champion.percentStyle">{{champion.winPercent}}%</h6>
            <span>{{champion.games}} <span class="champion-info">Played</span></span>
          </li>
        </ul>
      </li>
    </ul>
    <div class="champion__more">
      <span>Show More</span>
    </div>
  </div>
  <div class="detail_recent container-info">
    <h4>Recently Played</h4>
    <ul class="recent__champions">
      <li *ngFor="let champion of profile.recent.ranked">
        <img src="../../assets/champion/square/{{champion.id.id}}.png" alt="" class="recent-center">
        <h5 class="recent-center recent-name">{{champion.id.name}}</h5>
        <span class="recent-center recent-percent">{{champion.percent}}%</span>
        <div class="recent-graph recent-center">
          <div>
            <span>{{champion.wins}}W</span>
            <span class="clear-fix">{{champion.losses}}L</span>
          </div>
          <div class="bar" [ngStyle]="champion.left" ></div>
          <div class="bar" [ngStyle]="champion.right"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="played-with container-info">
    <h4>Recently Played With</h4>
    <table class="played-with__players">
      <thead>
        <tr>
          <th>Summoner</th>
          <th>Played</th>
          <th>Win</th>
          <th>Lose</th>
          <th>Win Ratio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of profile.recent.players">
          <td>{{player.name}}</td>
          <td>{{player.total}}</td>
          <td>{{player.wins}}</td>
          <td>{{player.losses}}</td>
          <td>{{player.percent}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>