<div *ngIf="summoner">
  <div class="ranks container-info">
    <div class="ranks__solo" *ngIf="solo">
      <img src="../../assets/rank-icons/{{solo.tier}}_{{solo.rank}}.png" alt="">
      <div>
        <span>Ranked Solo</span><br>
        <span>{{solo.tier}} {{solo.rank}}</span><br>
        <span>{{solo.leaguePoints}} LP <span>/ {{solo.wins}}W {{solo.losses}}L</span></span><br>
        <span>Win Ratio {{solo.winRatio}}%</span><br>
      </div>
    </div>
    <div class="ranks__flex" *ngIf="flex_5v5 || flex_3v3">
      <div *ngIf="flex_5v5">
        <img src="../../assets/rank-icons/unranked.png" alt="">
        <div>
          <span>Flex 5v5</span><br>
          <span>Unranked</span>
        </div>
      </div>
      <br>
      <div *ngIf="flex_3v3">
        <img src="../../assets/rank-icons/unranked.png" alt="">
        <div>
          <span>Flex 3v3</span><br>
          <span>Unranked</span>
        </div>
      </div>
    </div>
  </div>
  <div class="champion container-info">
    <h4>Season 9</h4>
    <ul class="champion__menu">
      <li>Total</li>
      <li>Solo</li>
      <li>Flex 5v5</li>
      <li>Flex 3v3</li>
    </ul>
    <ul class="champion__content">
      <li class="champion-item">
        <ul>
          <li>
            <img src="../../assets/champion/square/Evelynn.png" alt="">
          </li>
          <li>
            <h5>Evelynn</h5>
            <span>CS: 5.3</span>
          </li>
          <li>
            <h5>3.49 KDA</h5>
            <span>11.4 / 5.1 / 6.5</span>
          </li>
          <li>
            <h5>66%</h5>
            <span>85 Played</span>
          </li>
        </ul>
      </li>
      <li class="champion-item">
        <ul>
          <li>
            <img src="../../assets/champion/square/Leona.png" alt="">
          </li>
          <li>
            <h5>Leona</h5>
            <span>CS: 2.0</span>
          </li>
          <li>
            <h5>2.90 KDA</h5>
            <span>3.0 / 5.3 / 12.3</span>
          </li>
          <li>
            <h5>75%</h5>
            <span>4 Played</span>
          </li>
        </ul>
      </li>
      <li class="champion-item">
        <ul>
          <li>
            <img src="../../assets/champion/square/Alistar.png" alt="">
          </li>
          <li>
            <h5>Alistar</h5>
            <span>CS: 1.3</span>
          </li>
          <li>
            <h5>2.27 KDA</h5>
            <span>1.5 / 5.5 / 11.0</span>
          </li>
          <li>
            <h5>25%</h5>
            <span>4 Played</span>
          </li>
        </ul>
      </li>
      <li class="champion-item">
        <ul>
          <li>
            <img src="../../assets/champion/square/Twitch.png" alt="">
          </li>
          <li>
            <h5>Twitch</h5>
            <span>CS: 5.7</span>
          </li>
          <li>
            <h5>3.91 KDA</h5>
            <span>8.3 / 3.7 / 6.0</span>
          </li>
          <li>
            <h5>67%</h5>
            <span>3 Played</span>
          </li>
        </ul>
      </li>
      <li class="champion-item">
        <ul>
          <li>
            <img src="../../assets/champion/square/Hecarim.png" alt="">
          </li>
          <li>
            <h5>Hecarim</h5>
            <span>CS: 6.1</span>
          </li>
          <li>
            <h5>2.31 KDA</h5>
            <span>13.5 / 8.0 / 5.0</span>
          </li>
          <li>
            <h5>50%</h5>
            <span>2 Played</span>
          </li>
        </ul>
      </li>
    </ul>
    <div class="champion__more">
      <span>Show More</span>
    </div>
  </div>
  <div class="detail_recent container-info">
    <h4>Recently Played</h4>
    <ul class="recent__champions">
      <li>
        <img src="../../assets/champion/square/Evelynn.png" alt="" class="recent-center">
        <h5 class="recent-center">Evelynn</h5>
        <span class="recent-center">90%</span>
        <div class="recent-graph recent-center">
          <div>
            <span>9W</span>
            <span class="clear-fix">1L</span>
          </div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="played-with container-info">
    <h4>Recently Played With</h4>
    <table class="played-with__players">
      <thead>
        <tr>
          <th>Summoner</th>
          <th>Played</th>
          <th>Win</th>
          <th>Lose</th>
          <th>Win Ratio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Yung Amber</td>
          <td>7</td>
          <td>6</td>
          <td>1</td>
          <td>86%</td>
        </tr>
        <tr>
          <td>KeepYoursęlfSafę</td>
          <td>2</td>
          <td>2</td>
          <td>0</td>
          <td>100%</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>