@import '../../../scss/values';

.container-info {
  background-color: $content-dark;
  border-radius: .5rem;
  margin: 1rem;
}

.emblem {
  width: 16rem;
  height: 14rem;
  img {
    position: absolute;
    width: 16rem;
    height: 14rem;
  }
}

h4 {
  padding: 1rem;
  font-weight: 500;
}
.ranks {
  font-weight: 600;
  .detail-info {
    font-size: 1rem;
    color: rgba(255,255,255, 0.5);
  }
  .queue_type {
    font-size: 1.2rem;
    color: rgba(255,255,255, 0.5);
  }
  &__solo {
    height: 14rem;
    border-bottom: .5rem solid $base-dark;
    .emblem {
      margin-left: 1rem;
      display: inline-block;
      position: absolute;
      font-size: 1.5rem;
      img {
        position: absolute;
        width: 10rem;
        height: 11rem;
        margin: 1rem;
      }
    }
    .solo-detail {
      display: inline-block;
      margin-top: 3rem;
      margin-left: 15rem;
      font-size: 1.4rem;
    }
  }
  .flex {
    width: 34rem;
    display: inline-block;
    font-size: 1.4rem;
    height: 11.5rem;
    .emblem-secondary {
      margin-left: 1.95rem;
      display: inline-block;
      position: absolute;
      font-size: 1.5rem;
      img {
        position: absolute;
        width: 8rem;
        height: 9rem;
        margin: 1rem;
      }
    }
    .details {
      margin-left: 15rem;
      margin-top: 2rem;
      display: inline-block;
      vertical-align: middle;
    }
    img {
      vertical-align: middle;
      display: inline-block;
      width: 8rem;
      margin: 1rem;
      margin-left: 3rem;
    }
  }
}

.champion {
  &__menu {
    text-decoration: none;
    ul {
      width: 100%;
    }
    li {
      display: inline-block;
      padding: .5rem;
      width: 8.5rem;
      height: 3rem;
      font-size: 1.3rem;
      text-align: center;
      vertical-align: top;
    }
  }
  &__content {
    min-height: 32rem;
    list-style-type: none;

    .champion-item {
      display: table;
      height: 6rem;
      ul {
        display: table; 
        .champion-back {
          height: 8rem;
        }
        .champion-detail {
          margin-left: 2rem;
          position: relative;
          display: inline-block;
        }
        .first-detail {
          position: absolute;
          margin-left: 11rem;
          padding: .3rem;
        }
        .second-detail {
          margin-left: 12.5rem;
          margin-top: 2.8rem;
        }
        li {
          display: table-cell;
          text-align: center;
          .champion-diagonal {
            position: absolute;
            height: 8rem;
            width: 24rem;
            background: linear-gradient(137deg, rgba(36, 40, 44, 0) 12%, $content-dark 99%);
          }
          .champion-right-left {
            position: absolute;
            height: 8rem;
            width: 24rem;
            background: linear-gradient(90deg, rgba(36, 40, 44, 0) 22%, $content-dark 98%);
          }
          .champion-right-left-name {
            position: absolute;
            height: 2.5rem;
            width: 24rem;
            background: linear-gradient(90deg, rgba(36, 40, 44, 0) 40%, $content-dark 98%);
          }
          .champion-bottom-top {
            position: absolute;
            margin-top: .5rem;
            height: 8rem;
            width: 24rem;
            background: linear-gradient(180deg, rgba(36, 40, 44, 0) 80%, $content-dark 100%);
          }
          img {
            border-top: .1rem rgba(255,255,255,0.55) solid;
            position: absolute;
            display: table-cell;
            vertical-align: middle;
            width: 24rem;
            height: 8rem;
          }
          h5 {
            display: block;
            font-size: 1.4rem;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          h6 {
            display: block;
            font-size: 1.55rem;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          span {
            font-size: 1.4rem;
            font-weight: 700;
            margin-top: .4rem;
            color: lightgrey;
          }
          .champion-info {
            font-size: 1.3rem;
            color: rgba(255,255,255,0.5);
          }
        }
        li:nth-child(2) {
          text-align: left;
        }
        li:nth-child(3) {
          width: 10rem;
        }
        li:last-child {
          width: 8rem;
        }
      }
    }
  }
  &__more {
    position: relative;
    text-align: center;
    padding: .8rem;
  }
}

.recent {
  &__champions {
    list-style-type: none;
    overflow: overlay;
    max-height: 30rem;
    li {
      padding:.5rem;
      img {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        display: inline-block;
        vertical-align: middle;
      }
      h5 {
        width: 7rem;
      }
      span {
        width: 3rem;
        font-size: 1.2rem;
      }
      .recent-center {
        display: inline-block;
        vertical-align: middle;
        height: 4rem;
        width: 4rem;
        margin-left: .7rem;
      }
      .recent-center:first-child {
        margin-left: .4rem;
      }
      .recent-name {
        width: 8rem;
      }
      .recent-percent {
        text-align:center;
      }
      .recent-graph {
        width: 13rem;
        div {
          display: grid;
          grid-template-columns: 50% 50%;
          span {
            padding-left: 1rem;
          }
          span:last-child {
            text-align: right;
            width: 100%;
            padding-right: 1rem;
          }
        }
        .bar {
          height: 1.2rem;
          display: inline-block;
          border-radius: .4rem 0 0 .4rem;
          padding: .5rem;
          background-color: $blue-dark;
        }
        .bar:last-child {
          border-radius: 0 .4rem .4rem 0;
          background-color: $red-dark;
        }
      }
    }
  }
  /* width */
  &__champions::-webkit-scrollbar {
    width: 1rem;
  }

  /* Track */
  &__champions::-webkit-scrollbar-track {
    background: $content-dark; 
  }

  /* Handle */
  &__champions::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  &__champions::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

.played-with {
  list-style-type: none;
  &__players {
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
    tr {
      td:first-child {
        text-align: left;
      }
      th {
        width: 5rem;
      }
      th:last-child {
        width: 8rem;
      }

      td, th {
        padding: .4rem;
      }
    }

  }
}