@import '../../../scss/values';

.container-info {
  background-color: $content-dark;
  border-radius: .5rem;
}
.search {
  width: 100%;
  height: 17.5rem;
  &__query {
    padding: .5rem;
    border-bottom: .2rem $base-dark solid;
    .query-content {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.4rem;
      margin-left: .5rem;
    }
    .role-query {
      img {
        display: inline-block;
        margin: .4rem;
        margin-bottom: 0;
        padding: .5rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: $base-dark;
        border-radius: .3rem;
      }
      img:hover {
        cursor: pointer;
        border-radius: 50%;
      }
    }
    .queue-query {
      width: 15rem;
      height: 3.5rem;
      text-align: center;
      background-color: $base-dark;
      border-radius: .5rem;
      span {
        margin-top: .7rem;
        display: inline-block;
      }
    }
    .queue-query:hover {
      filter: brightness(1.1);
      cursor: pointer;
    }
    .season-query {
      width: 12rem;
      height: 3.5rem;
      text-align: center;
      background-color: $base-dark;
      border-radius: .5rem;
      span {
        margin-top: .7rem;
        display: inline-block;
      }
    }
    .season-query:hover {
      filter: brightness(1.1);
      cursor: pointer;
    }
    .champion-query {
      &__left {
        top: 1.2rem;
        position: absolute;
        width: 3rem;
        height: 3rem;
        border-radius: 50% 0 0 50%;
        background: $base-dark;
      }
      input {
        top: 1.2rem;
        position: absolute;
        height: 3rem;
        width: 15.5rem;
        border: none;
        padding: .5rem;
        background: $base-dark;
        color: white;
        margin-left: 1.3rem;
      }
      &__right {
        top: 1.2rem;
        position: absolute;
        width: 3rem;
        height: 3rem;
        border-radius: 0 50% 50% 0;
        background: $base-dark;
        margin-left: 16.3rem;
        img {
          width: 2.6rem;
          height: 2.6rem;
        }
        img:hover {
          cursor: pointer;
          filter:brightness(.8);
        }
      }
    }
  }
  &__stats {
    padding: .5rem;
    display: grid;
    width: 100%;
    grid-template-columns: 11rem 10rem 9rem 10rem 20rem 14rem;
    grid-template-rows: 10rem;
    grid-template-areas: "pie kda streak performance champions roles";
    text-align: center;
    .stat-pie {
      grid-area: pie;
      .stat-games {
        position: inline-block;
        font-size: 1.3rem;
        width: 11rem;
        margin:auto;
        margin-top: 2rem;
        span {
          font-weight: 600;
          font-size: 1.4rem;
          .stat-game-info {
            font-size: 1.1rem;
            color: rgba(255,255,255,0.5);
          }
        }
      }
      .pie-inside {
        position: inline-block;
        border-radius: 50%;
        margin: auto;
        background: $content-dark;
        span {
          font-weight: 700;
          font-size: 3rem;
          margin-top: .5rem;
          display: inline-block;
        }
      }
    }
    .total-kda {
      grid-area: kda;
      font-size: 1.6rem;
      font-weight: 700;
      display: inline-block;
      vertical-align: middle;
      .kda-container {
        margin-top: 2.5rem;
        .total-kda-info {
          font-size: 1.2rem;
          color: rgba(255,255,255,0.5);
        }
        .total-kda {
          display: block;
        }
      }
    }
    .stat-streak {
      grid-area: streak;
      padding: .5rem;
      font-size: 1.5rem;
      font-weight: 600;
      .streak-container {
        width: 100%;
        margin-top: .8rem;
      }
      span {
        display: block;
      }
      span:first-child {
        color: rgba(255,255,255, 0.5);
      }
      span:last-child {
        font-size: 4rem;
        font-weight: 700;
      }
    }
    .stat-performance {
      grid-area: performance;
      padding: .5rem;
      font-size: 1.2rem;
      font-weight: 600;
      .performance-container {
        width: 100%;
        margin-top: 1.3rem;
      }
      span {
        display: block;
      }
      span:first-child {
        margin-bottom: .3rem;
        color: rgba(255,255,255, 0.5);
      }
      span:last-child {
        font-size: 4rem;
        font-weight: 700;
      }
    }
    .recent-champions {
      grid-area: champions;
      text-align: left;
      height: 10rem;
      overflow: auto;
      margin-top: .5rem;
      &__champion {
        display: block;
        width: 18.5rem;
        margin-left: .5rem;
        height: 3.5rem;
        font-size: 1.2rem;
        img {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
        }
        .recent-champion-detail {
          font-weight: 700;
          margin-left: .5rem;
          display: inline-block;
          vertical-align: middle;
          .info-detail {
            font-size: 1rem;
            color: rgba(255,255,255,0.5);
          }
          .recent-champion-name {
            font-size: 1rem;
            display: block;
          }
          .champion-more-detail {
            display:block;
            font-size: 1.2rem;
          }
        }
      }
      &__champion:hover {
        cursor: pointer;
        filter: brightness(.8);
      }
    }
    /* width */
    .recent-champions::-webkit-scrollbar {
      width: 1rem;
    }

    /* Track */
    .recent-champions::-webkit-scrollbar-track {
      background: $content-dark; 
    }

    /* Handle */
    .recent-champions::-webkit-scrollbar-thumb {
      background: #888; 
    }

    /* Handle on hover */
    .recent-champions::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    .recent-roles {
      grid-area: roles;
      overflow: auto;
      height: 10rem;
      text-align: left;
      &__role {
        width: 12.5rem;
        height: 3.5rem;
        display: block;
        margin-left: .5rem;
        img {
          padding: .3rem;
          display: inline-block;
          width: 3.5rem;
          height: 3.5rem;
          vertical-align: middle;
        }
        .recent-role-detail {
          margin-left: .5rem;
          font-weight: 700;
          vertical-align: middle;
          display: inline-block;
          font-size: 1.2rem;
          .role-name {
            display: block;
          }
          .role-more-detail {
            display:block;
            font-size: 1rem;
            .role-detail-info {
              display: inline;
              font-size: .8rem;
              color: rgba(255, 255, 255, 0.3);
            }
          }
        }
      }
      &__role:hover {
        cursor: pointer;
        filter: brightness(.8);
      }
    }
    /* width */
    .recent-roles::-webkit-scrollbar {
      width: 1rem;
    }

    /* Track */
    .recent-roles::-webkit-scrollbar-track {
      background: $content-dark; 
    }

    /* Handle */
    .recent-roles::-webkit-scrollbar-thumb {
      background: #888; 
    }

    /* Handle on hover */
    .recent-roles::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
  }
}
.game {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  font-size: 1.2rem;
  grid-template-areas: "main"
                       "toggle"; 
}
.main {
  grid-area: main;
  color: rgba(255,255,255,0.7);
  background-color: $blue-dark;
  border-radius: .5rem;
  width: 100%;
  height: 100%;
  border-top: .2rem $blue-secondary-dark solid;
  display: grid;
  grid-template-columns: 1.5rem 10rem 9.1rem 9rem 22.5rem 23rem;
  grid-template-rows: 12rem;
  grid-template-areas: "outcome type champion detail stats players"
}
.main:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.outcome {
  height:12rem;
  grid-area: outcome;
  background-color: rgba(0,0,0,0.25);
  border-radius: .5rem 0 0 .5rem;
  box-shadow: inset -2.3rem 0rem 1rem -2rem rgba(0,0,0,0.15);
}

.type {
  grid-area: type;
  width: 100%;
  height: 100%;
  &__content {
    margin-top:1.5rem;
    margin-left:1rem;
    span {
      display: block;
      padding-bottom: .4rem;
      color: rgba(255,255,255, 0.35);
    }
    span:nth-child(2) {
      font-size: 1rem;
    }
    span:first-child {
      width: 8rem;
      font-weight: 700;
      color: rgba(255,255,255, 0.8);
    }
    span:nth-child(3) {
      padding-top: 1rem;
      font-weight: 700;
      color: rgba(255,255,255, 0.8);
    }
    span:last-child {
      padding-bottom: 0;
    }
  }
}

.champion {
  grid-area: champion;
  .cimage {
    display: block;
    margin-top: .5rem;
    &__image {
      border: .3rem rgba(0,0,0,0.25)solid;
      position: absolute;
      width: 8.8rem;
      padding: .3rem;
      border-radius: 50%;
    }
    &__level {
      position: absolute;
      margin-left: 5.5rem;
      margin-top: 6rem;
      img {
        width:3rem;
        position: absolute;
        border-radius: 50%;
      }
      span {
        color: white;
        margin: auto;
        position: absolute;
        width: 3rem;
        margin-top: .7rem;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 800;
      }
    }
  }
  &__name {
    color: white;
    display: block;
    text-align:center;
    margin-top: 9.8rem;
    font-weight: 600;
  }
}

.detail {
  grid-area: detail;
  margin: auto;
  width: 100%;
  height: 100%;
  &__summoners {
    margin-top: 1.6rem;
    padding: .3rem;
    background-color: rgba(0,0,0,0.3);
    border-radius: .3rem;
    margin-bottom: 3rem;
    vertical-align: middle;
    display: inline-block;
    img { 
      display: block;
      width: 2.7rem;
      height: 2.7rem;
      border-radius: .3rem;
    }
    img:last-child {
      margin-top: .5rem;
    }
  }
  &__right {
    width: 4.5rem;
    height: 9rem;
    vertical-align: middle;
    display: inline-block;
    .runes {
      height: 5rem;
      margin-left: .3rem;
      &__primary {
        padding: .2rem;
        width: 4rem;
        position: absolute;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);
      }
      &__secondary {
        padding: .3rem;
        width: 2.5rem;
        position: absolute;
        border-radius: 50%;
        margin-top: 3.7rem;
        margin-left: 2.5rem;
      }
      &__back {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.3);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-top: 3.7rem;
        margin-left: 2.5rem;
      };
    }
    .role {
      margin-top:1rem;
      margin-left: .6rem;
      height: 3.6rem;
      width: 3.6rem;
      background-color: rgba(0,0,0,0.3);
      border-radius: 50%;
      img {
        width: 3.6rem;
        padding: .3rem;
      }
    }
  }
}

.stats {
  grid-area: stats;
  margin: auto;
  margin-left: 0;
  width: 100%;
  height: 100%;
  &__items {
    margin-top: 1.6rem;
    vertical-align: middle;
    display: inline-block;
    padding: .4rem;
    padding-bottom: .1rem;
    background-color: rgba(0,0,0,0.3);
    border-radius: .3rem;
    div {
      margin-left: .2rem;
      border-radius: .3rem;
      display: inline;
    }
    div:first-child {
      margin-left: 0;
    }
    img {
      width: 2.8rem;
      border-radius: .3rem;
    }
  }
  .trinket {
    margin-top: 1.5rem;
    border: .4rem rgba(0,0,0,0.3) solid;
    vertical-align: middle;
    display: inline-block;
    margin-left: .3rem;
    border-radius: 50%;
    width: 3.5rem;
  }
  &__details {
    display: block;
    text-align: center;
    margin-top: .5rem;
    .stat-format {
      width: 9rem;
      margin-left: 2rem;
      display: inline-block;
      text-align: center;
      .paren {
        display: inline;
        font-size: 1.3rem;
        color: rgba(0,0,0,0.4);
      }
      .stat-kda {
        font-size: 1.6rem;
        font-weight: 700;
      }
      .white {
        color: rgba(255,255,255,0.7);
        display: inline;

      }
      span {
        display: block;
        color: rgba(255,255,255,0.35);
        font-weight: 600;
      }
    }
    .stat-format:first-child {
      margin: 0;
    }
  }
}

.players {  
  grid-area: players;
  margin: auto;
  background-color: rgba(0,0,0,0.23);
  padding-left: .3rem;
  border-radius: .3rem;
  .team {
    display: inline-block;
    margin-right: .3rem;
    .player {
      color: rgba(255,255,255,0.6);
      display: block;
      margin: auto;
      margin-top: .3rem;
      margin-bottom: .3rem;
      border-radius: .3rem;
      img, span {
        font-size: 1.15rem;
        vertical-align: middle;
        display: inline;
      }
      img {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: .3rem;
      }
      span {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 8.4rem;
        height: 1.5rem;
        margin-left: .2rem;
      }
    }
    .player:hover {
      cursor: pointer;
      background: rgba(255,255,255,0.15);
    }
  }
  .team:last-child {
    margin-right: .4rem;
  }
}

/**
*TOGGLE
*
*
**/
.toggle {
  display:none;
  grid-area: toggle;
  border-radius: 0 0 .3rem .3rem;
  margin-left: 2.2rem;
  width: 72rem;
  height: 100%;
  z-index: -1;
  top: -.3rem;
  position: relative;
  background-color: grey;
  &__nav {
    color: rgba(255,255,255, 0.95);
    box-shadow: inset 0rem -.8rem 1rem -1rem rgba(0,0,0,0.6), inset 0rem 1.1rem 1rem -1rem rgba(0,0,0,0.6);
    width: 100%;
    height: 4rem;
    background: grey;
    border-left: .5rem $base-dark solid;
    border-right: .5rem $base-dark solid;
    filter: brightness(0.85);
    span {
      text-align: center;
      display: inline-block;
      margin-top: .3rem;
      padding-top: .7rem;
      height: 3rem;
      width: 15rem;
      margin-left: 2.3rem;
      background: rgba(0,0,0,0.15);
      font-weight: 600;
    }
  }
  &__content {
    width: 100%;
    .overview {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 30rem 2rem 30rem;
      grid-template-areas: "blueTeam blueTeam blueTeam"
                           "matchDetails matchDetails matchDetails"
                           "redTeam redTeam redTeam";
      width: inherit;
      &__blue-team {
        grid-area: blueTeam;
        width: inherit;
        height: inherit;
      }
      &__match-details {
        grid-area: matchDetails;
        width: inherit;
        filter: brightness(0.85);
        border-left: .5rem $base-dark solid;
        border-right: .5rem $base-dark solid;
        box-shadow: inset 0rem -.8rem 1rem -1rem rgba(0,0,0,0.6), inset 0rem 1.1rem 1rem -1rem rgba(0,0,0,0.6);
      }
      &__red-team {
        grid-area: redTeam;
        width: inherit;
      }
    }
    .replay {
      display: none;
    }
    .builds {
      display: none;
    }
    .graphs {
      display: none;
    }
  }
}