@import '../../../scss/values';
.container-info {
  background-color: $content-dark;
  border-radius: .5rem;
}

.search {
  width: 100%;
  height: 8rem;
}
.game {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  font-size: 1.2rem;
  grid-template-areas: "main"
                       "toggle"; 
}
.main {
  grid-area: main;
  color: rgba(255,255,255,0.7);
  background-color: $blue-dark;
  border-radius: .5rem;
  width: 100%;
  height: 100%;
  border-top: .2rem $blue-secondary-dark solid;
  display: grid;
  grid-template-columns: 1.5rem 10rem 9.1rem 9rem 22.5rem auto;
  grid-template-rows: 12rem;
  grid-template-areas: "outcome type champion detail stats players"
}
.main:hover {
  cursor: pointer;
  .type, .champion, .detail, .stats{
    background-color: rgba(0,0,0,0.08);
  }
  .stats {
    box-shadow: 1.7rem 0rem 1.1rem 0rem rgba(0,0,0,0.08);
  }
}

.outcome {
  height:12rem;
  grid-area: outcome;
  background-color: rgba(0,0,0,0.3);
  border-radius: .5rem 0 0 .5rem;
}

.type {
  grid-area: type;
  width: 100%;
  height: 100%;
  &__content {
    margin-top:1.5rem;
    margin-left:1rem;
    span {
      display: block;
      padding-bottom: .4rem;
      color: rgba(255,255,255, 0.35);
    }
    span:nth-child(2) {
      font-size: 1rem;
    }
    span:first-child {
      width: 8rem;
      font-weight: 700;
      color: rgba(255,255,255, 0.8);
    }
    span:nth-child(3) {
      padding-top: 1rem;
      font-weight: 700;
      color: rgba(255,255,255, 0.8);
    }
    span:last-child {
      padding-bottom: 0;
    }
  }
}

.champion {
  grid-area: champion;
  .cimage {
    display: block;
    margin-top: .5rem;
    &__image {
      border: .3rem rgba(0,0,0,0.25)solid;
      position: absolute;
      width: 8.8rem;
      padding: .3rem;
      border-radius: 50%;
    }
    &__level {
      position: absolute;
      margin-left: 5.5rem;
      margin-top: 6rem;
      img {
        width:3rem;
        position: absolute;
        border-radius: 50%;
      }
      span {
        color: white;
        margin: auto;
        position: absolute;
        width: 3rem;
        margin-top: .7rem;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 800;
      }
    }
  }
  &__name {
    color: white;
    display: block;
    text-align:center;
    margin-top: 9.8rem;
    font-weight: 600;
  }
}

.detail {
  grid-area: detail;
  margin: auto;
  width: 100%;
  height: 100%;
  &__summoners {
    margin-top: 1.6rem;
    padding: .3rem;
    background-color: rgba(0,0,0,0.3);
    border-radius: .3rem;
    margin-bottom: 3rem;
    vertical-align: middle;
    display: inline-block;
    img { 
      display: block;
      width: 2.7rem;
      height: 2.7rem;
      border-radius: .3rem;
    }
    img:last-child {
      margin-top: .5rem;
    }
  }
  &__right {
    width: 4.5rem;
    height: 9rem;
    vertical-align: middle;
    display: inline-block;
    .runes {
      height: 5rem;
      margin-left: .3rem;
      &__primary {
        padding: .2rem;
        width: 4rem;
        position: absolute;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);
      }
      &__secondary {
        padding: .3rem;
        width: 2.5rem;
        position: absolute;
        border-radius: 50%;
        margin-top: 3.7rem;
        margin-left: 2.5rem;
      }
      &__back {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.3);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-top: 3.7rem;
        margin-left: 2.5rem;
      };
    }
    .role {
      margin-top:1rem;
      margin-left: .6rem;
      height: 3.6rem;
      width: 3.6rem;
      background-color: rgba(0,0,0,0.3);
      border-radius: 50%;
      img {
        width: 3.6rem;
        padding: .3rem;
      }
    }
  }
}

.stats {
  grid-area: stats;
  margin: auto;
  margin-left: 0;
  width: 100%;
  height: 100%;
  &__items {
    margin-top: 1.6rem;
    vertical-align: middle;
    display: inline-block;
    padding: .4rem;
    padding-bottom: .1rem;
    background-color: rgba(0,0,0,0.3);
    border-radius: .3rem;
    div {
      margin-left: .2rem;
      border-radius: .3rem;
      display: inline;
    }
    div:first-child {
      margin-left: 0;
    }
    img {
      width: 2.8rem;
      border-radius: .3rem;
    }
  }
  .trinket {
    margin-top: 1.5rem;
    border: .4rem rgba(0,0,0,0.3) solid;
    vertical-align: middle;
    display: inline-block;
    margin-left: .3rem;
    border-radius: 50%;
    width: 3.5rem;
  }
  &__details {
    display: block;
    text-align: center;
    margin-top: .5rem;
    .stat-format {
      width: 9rem;
      margin-left: 2rem;
      display: inline-block;
      text-align: center;
      .paren {
        display: inline;
        font-size: 1.3rem;
        color: rgba(0,0,0,0.4);
      }
      .stat-kda {
        font-size: 1.6rem;
        font-weight: 700;
      }
      .white {
        color: rgba(255,255,255,0.7);
        display: inline;

      }
      span {
        display: block;
        color: rgba(255,255,255,0.35);
        font-weight: 600;
      }
    }
    .stat-format:first-child {
      margin: 0;
    }
  }
}

.players {  
  grid-area: players;
  margin: auto;
  background-color: rgba(0,0,0,0.3);
  padding-left: .3rem;
  border-radius: .3rem;
  .team {
    display: inline-block;
    margin-right: .3rem;
    .player {
      color: rgba(255,255,255,0.6);
      display: block;
      margin: auto;
      margin-top: .3rem;
      margin-bottom: .3rem;
      border-radius: .3rem;
      img, span {
        font-size: 1.15rem;
        vertical-align: middle;
        display: inline;
      }
      img {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: .3rem;
      }
      span {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 7.7rem;
        height: 1.5rem;
        margin-left: .2rem;
      }
    }
    .player:hover {
      cursor: pointer;
      background: rgba(255,255,255,0.15);
    }
  }
  .team:last-child {
    margin-right: .4rem;
  }
}

.toggle {
  grid-area: toggle;
  border-radius: 0 0 .3rem .3rem;
  margin-left: 1.5rem;
  width: 73.5rem;
  height: 100%;
  z-index: -1;
  top: -.3rem;
  position: relative;
  background-color: grey;
}