@import './scss/values';
/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif
}
*:focus {
  outline: none;
}
* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
input, textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
html {
  font-size: 62.5%;
}

body {
  background-color: $base-dark;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 500;
  min-height: 1000px;
  color: $font-dark;
}
