@import './scss/values';
/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif
}

html {
  font-size: 62.5%;
}

body {
  background-color: $base-dark;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 500;
  height: 3000px;
  color: $font-dark;
}
