//dark
$base-dark: #16181b;
$content-dark: rgb(33, 36, 39);
$font-dark: hsl(210, 14%, 85%);
$red-darker: #411919;
$red-dark: #5f2525;
$red-secondary-dark: #973f3f;
$blue-darker: #1f314d;
$blue-dark: #253c5f;
$blue-secondary-dark: #345688;

