//dark
$darkest-dark: #0f1113;
$base-dark: #1a1d20;
$content-dark: #24282c;
$font-dark: #d3d8de;
$red-darker: #411919;
$red-dark: #5f2525;
$red-secondary-dark: #973f3f;
$blue-darker: #1f314d;
$blue-dark: #253c5f;
$blue-secondary-dark: #345688;

.test {
  color: #2b971d
}
.selectable {
  -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
      -khtml-user-select: all; /* Konqueror HTML */
        -moz-user-select: all; /* Firefox */
        -ms-user-select: all; /* Internet Explorer/Edge */
            user-select: all; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}